@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Tailwind v4 theme tokens */
@theme {
  --color-primary: #c91629;
  --color-night-charcoal: #1C1C1E;
  --color-neon-green: #39FF14;

  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
}
